/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: ;
} */
#pn{
color : black;
}

#top{
/* padding: 50px; */
color: rgb(0, 0, 0);
font-family:'Times New Roman', Times, serif;
font-size: 60px;
}
/* form{
width: 400px;
height: 400px;

} */
.container{
    width: 500px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px;

    
}
#camp{
    padding: 4px;

}
#button{

}